<!DOCTYPE HTML>
<!--
	Striped by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml"
        rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml"
        rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% endblock head %}
    <link rel="stylesheet" href="theme/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!--[if lte IE 8]><script src="/theme/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/theme/css/ie8.css" /><![endif]-->
</head>

<body class="is-preload">

    {% block content %}
    {% endblock %}

    <!-- Sidebar -->
    <div id="sidebar">

        <!-- Logo -->
        {% if SITELOGO %}
        <a href={{ SITEURL }}><img src="{{ SITELOGO }}"></a>

        {% else %}
        <h1 id="logo">
            <a href={{ SITEURL }}>{{ SITENAME }}</a>
        </h1>
        {% endif %}


        <!-- Text -->
        <section class="box text-style1">
            <div class="inner">
                <p>
                    <strong>{{SITESUBTITLE}}</strong><br />{{ SITEDESCRIPTION }}
                </p>
            </div>
        </section>

        <!-- Links -->
        <section class="box recent-posts">
            <ul>
                {% for name, link in LINKS %}
                <li class="list-group-item">
                    <a href="{{ link }}" target="_blank">{{ name }}</a>
                </li>
                {% endfor %}

            </ul>
        </section>

        <!-- Community -->
        <section class="box recent-posts">
            <header>
                <h2>Community</h2>
            </header>
            <ul>
                {% for name, link in SOCIAL %}
                <li class="list-group-item">
                    <a href="{{ link }}" target="_blank">{{ name }}</a>
                </li>
                {% endfor %}

            </ul>
        </section>

        <!-- Search -->
        <!-- <section class="box search">
            <form method="post" action="#">
                <input type="text" class="text" name="search" placeholder="Search" />
            </form>
        </section> -->

        <!-- Nav -->
        <nav id="nav">
            <header>
                <h2>Posts</h2>
            </header>
            <ul>
                {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                <li><a {% if cat==category %} class="active" {% endif %}href="{{ SITEURL }}/{{ cat.url }}"> {{ cat }}
                    </a></li>
                {% endfor %}
                {% endif %}
                {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in pages %}
                <li><a {% if p==page %} class="active" {% endif %}href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </nav>

        <!-- Recent Comments -->
        <!-- <section class="box recent-comments">
            <header>
                <h2>Recent Comments</h2>
            </header>
            <ul>
                <li>case on <a href="#">Lorem ipsum dolor</a></li>
                <li>molly on <a href="#">Sed dolore magna</a></li>
                <li>case on <a href="#">Sed dolore magna</a></li>
            </ul>
        </section> -->

        <!-- Calendar -->
        <!-- <section class="box calendar">
            <div class="inner">
                <table>
                    <caption>July 2014</caption>
                    <thead>
                        <tr>
                            <th scope="col" title="Monday">M</th>
                            <th scope="col" title="Tuesday">T</th>
                            <th scope="col" title="Wednesday">W</th>
                            <th scope="col" title="Thursday">T</th>
                            <th scope="col" title="Friday">F</th>
                            <th scope="col" title="Saturday">S</th>
                            <th scope="col" title="Sunday">S</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" class="pad"><span>&nbsp;</span></td>
                            <td><span>1</span></td>
                            <td><span>2</span></td>
                            <td><span>3</span></td>
                        </tr>
                        <tr>
                            <td><span>4</span></td>
                            <td><span>5</span></td>
                            <td><a href="#">6</a></td>
                            <td><span>7</span></td>
                            <td><span>8</span></td>
                            <td><span>9</span></td>
                            <td><a href="#">10</a></td>
                        </tr>
                        <tr>
                            <td><span>11</span></td>
                            <td><span>12</span></td>
                            <td><span>13</span></td>
                            <td class="today"><a href="#">14</a></td>
                            <td><span>15</span></td>
                            <td><span>16</span></td>
                            <td><span>17</span></td>
                        </tr>
                        <tr>
                            <td><span>18</span></td>
                            <td><span>19</span></td>
                            <td><span>20</span></td>
                            <td><span>21</span></td>
                            <td><span>22</span></td>
                            <td><a href="#">23</a></td>
                            <td><span>24</span></td>
                        </tr>
                        <tr>
                            <td><a href="#">25</a></td>
                            <td><span>26</span></td>
                            <td><span>27</span></td>
                            <td><span>28</span></td>
                            <td class="pad" colspan="3"><span>&nbsp;</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section> -->

        <!-- Copyright -->
        <ul id="copyright">
            <li>Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                which takes great advantage of <a href="http://python.org">Python</a>.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            <li>Modified under a <a href="https://creativecommons.org/licenses/by/3.0/">CC:BY</a> license.</li>
        </ul>

    </div>

    <!-- Scripts -->
    <script src="theme/js/jquery.min.js"></script>
    <script src="theme/js/browser.min.js"></script>
    <script src="theme/js/breakpoints.min.js"></script>
    <script src="theme/js/util.js"></script>
    <script src="theme/js/main.js"></script>

</body>

</html>